.cardWrapper {
    display: flex;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border-radius:20px;
    background-color: white;
    padding: 20px;
    border:2px solid palevioletred;
}

.button {
    display: flex;
    gap:15px;
    align-items: center;
    background-color: pink;
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 20px;
    position:relative
}

.count {
    background-color: white;
    position: relative;
    max-width: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.heart {
    position: absolute;
    bottom: 0;
}

.cat-pic {
    max-width: 200px;
    width: 100%;
    height: 200px;
}